<template>
  <span>
    <sweet-modal ref="modal" :icon="modal.icon" hide-close-button :blocking="blocking" overlay-theme="dark">
      {{ modal.message }}
    </sweet-modal>
  </span>
</template>

<script>
import SweetModal from 'sweet-modal-vue/src/components/SweetModal'
import { mapState } from 'vuex'
import { startsWith, last, compact } from 'lodash'
export default {
  components: {
    SweetModal
  },
  name: 'Alert',
  methods: {},
  watch: {
    modal: {
      handler (val) {
        const $modal = this.$refs.modal
        const { closeIn = 0, noRefresh = false } = val
        if (typeof $modal === 'undefined') {
          return
        }

        let delay = 0
        if ($modal.is_open && !noRefresh) {
          $modal.close()
          delay = 300
        }

        setTimeout(() => {
          if (window.previousClosingIdx) {
            clearTimeout(window.previousClosingIdx)
          }

          if (!$modal.is_open) {
            $modal.open()
          }

          if (closeIn > 0 && $modal.is_open) {
            window.previousClosingIdx = setTimeout(() => {
              $modal.close()
            }, closeIn)
          }
        }, delay)
      },
      deep: true
    }
  },
  computed: {
    blocking () {
      const { blocking } = this.modal
      return blocking === true
    },
    modal () {
      const { message, httpStatusCode, type = '' } = this.error
      console.log(`httpStatusCode ${httpStatusCode}`)
      const [icon, attr = ''] = type.split('.')
      const current = { icon: icon || 'info', message }

      compact(attr.trim().split('|')).forEach((key) => {
        if (startsWith(key, 'closeIn', 0)) {
          current.closeIn = parseInt(last(key.split(':')))
        } else {
          current[key] = true
        }
      })

      return current
    },
    ...mapState({
      state: (state) => state.ac.state,
      error: (state) => state.ac.error
    })
  }
}
</script>

<style lang="scss" scoped>
</style>
