<template>
  <div class="Box" :style="styleObject">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Box',
  props: ['cssStyle'],
  computed: {
    styleObject () {
      return this.cssStyle
    }
  }
}
</script>

<style lang="scss" scoped>
  .Box {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
  }
</style>
