<template>
  <container width="100%" class="Main bg-dark" :style="wrapperStyle">
    <chart-canvas :dimension="wrapperStyle" v-if="graphMode === 'canvas'" />
    <chart-text :dimension="wrapperStyle" v-if="graphMode === 'text'" />
    <span class="Nyan-Wrapper" v-if="nyan">
      <img src="/static/img/nyan.gif">
    </span>
    <span class="Max-Profit">
      {{ $t('Max Profit') }} <span :text-content.prop="maxWin | amount(currency)"></span>
    </span>
  </container>
</template>

<script>
import ChartCanvas from './ChartCanvas.vue'
import ChartText from './ChartText.vue'
import Box from './Box.vue'
import { mapState } from 'vuex'

export default {
  name: 'Chart',
  components: {
    Box,
    ChartCanvas,
    ChartText
  },
  data () {
    return {
      maxWin: 10000,
      currency: 'usd',
      nyan: false
    }
  },
  computed: {
    ...mapState({
      graphMode: (state) => state.site.graphMode
    }),
    wrapperStyle () {
      const { remainingHeight, isCompact, sizes: { heightMultiplier, widthMultiplier, graphFormMultiplier, graphFormMultiplierOnCompact } } = this

      let width
      let height
      if (isCompact) {
        width = $(window).innerWidth()
        height = (remainingHeight * heightMultiplier) * graphFormMultiplierOnCompact
      } else {
        width = ($(window).innerWidth() * widthMultiplier) * graphFormMultiplier
        height = remainingHeight * heightMultiplier
      }
      return { height: `${height}px`, width: `${width}px` }
    }
  }
}
</script>

<style lang="scss" scoped>
  .Chart-Wrapper {
    position: relative;
    height: 100%;
  }
  .Nyan-Wrapper {
    position:absolute;
    top:20px;
    left:5%;
    img {
      width: 69%;
    }
  }
  .Max-Profit {
    position:absolute;
    top:0;
    left:10%;
    font-size:0.5rem;
    color: #4c4b4b;
  }
</style>
