<script>
import { Style } from '../style'
import { mapState } from 'vuex'
import { isEmpty } from 'lodash'

export default {
  name: 'ChartCanvas',
  props: ['dimension'],
  mounted () {
    console.log('setting up the graph..')
    this.init()
  },
  updated () {
    console.log('re-setting up the graph..')
    this.init()
  },
  methods: {
    init () {
      this.canvas = this.$el
      this.ctx = this.$el.getContext('2d')

      this.configPlotSettings(this.canvasDimension, true)
      this.updateGraphics()
    },
    updateGraphics () {
      if (isEmpty(this.game)) {
        return
      }
      this.configPlotSettings(this.canvasDimension, true)
      this.calculatePlotValues()
    },
    calculatePlotValues () {
      const prevTime = this.currentTime
      this.currentTime = Date.now() - this.game.startTime
      if (this.game.state === 'busted') {
        this.currentTime = prevTime || Date.now() - this.game.startTime
      }

      // Plot variables
      this.XTimeBeg = 0
      this.XTimeEnd = Math.max(this.XTimeMinValue, this.currentTime)
      this.YPayoutBeg = 100
      this.YPayoutEnd = Math.max(this.YPayoutMinValue, (this.game.at || 0) * 100)

      // Translation between semantic and physical measures.
      this.XScale = this.plotWidth / (this.XTimeEnd - this.XTimeBeg)
      this.YScale = this.plotHeight / (this.YPayoutEnd - this.YPayoutBeg)
    },
    configPlotSettings (config, forceUpdate = false) {
      var devicePixelRatio = window.devicePixelRatio || 1
      var backingStoreRatio =
            this.ctx.webkitBackingStorePixelRatio ||
            this.ctx.mozBackingStorePixelRatio ||
            this.ctx.msBackingStorePixelRatio ||
            this.ctx.oBackingStorePixelRatio ||
            this.ctx.backingStorePixelRatio || 1
      var ratio = devicePixelRatio / backingStoreRatio

      // Only update these settings if they really changed to avoid rendering hiccups.
      if (this.canvasWidth !== config.width ||
        this.canvasHeight !== config.height ||
        this.devicePixelRatio !== devicePixelRatio ||
        this.backingStoreRatio !== backingStoreRatio ||
        forceUpdate
      ) {
        this.canvasWidth = config.width
        this.canvasHeight = config.height
        this.devicePixelRatio = devicePixelRatio
        this.backingStoreRatio = backingStoreRatio

        // Use CSS to *always* get the correct canvas geometry.
        this.canvas.style.width = config.width + 'px'
        this.canvas.style.height = config.height + 'px'

        // Scale the canvas element by ratio to account for HiDPI.
        this.canvas.width = config.width * ratio
        this.canvas.height = config.height * ratio
      }

      this.ctx.setTransform(ratio, 0, 0, ratio, 0, 0)

      let theme = this.$store.state.site.theme
      this.style = new Style(theme, this.canvasWidth, this.isCompact)

      this.xMinTickSeparation = 2 * this.ctx.measureText('1000').width
      this.yMinTickSeparation = this.getEmHeight(this.style.axis.font) * (this.isCompact ? 1.75 : 4)

      this.xStart = 30
      this.yStart = 20
      this.plotWidth = this.canvasWidth - this.xStart
      this.plotHeight = this.canvasHeight - this.yStart

      // Minimum of 10 Seconds on x-Axis.
      this.XTimeMinValue = 10000
      // Minimum multiplier of 2.00x on y-Axis.
      this.YPayoutMinValue = 200
    },
    getEmHeight (font) {
      var sp = document.createElement('span')
      sp.style.font = font
      sp.style.display = 'inline'
      sp.textContent = 'Hello world!'

      document.body.appendChild(sp)
      var emHeight = sp.offsetHeight
      document.body.removeChild(sp)
      return emHeight
    }
  },
  watch: {},
  computed: {
    ...mapState({
      'game': (state) => state.ac.game
    }),
    canvasDimension () {
      const { width, height } = this.dimension
      return { width: parseInt(width.replace('px', '')), height: parseInt(height.replace('px', '')) }
    }
  },
  render (createElement) {
    return createElement('canvas', {
      style: this.dimension
    }, this.$slots.default)
  }
}
</script>

<style lang="scss">
  canvas {
    background: white;
  }
</style>
