<template>
  <container width="100%" class="ChartText-Wrapper">
    Chart text
  </container>
</template>

<script>
export default {
  name: 'ChartText',
  components: {},
  mounted () {},
  beforeDestroy () {},
  methods: {},
  watch: {},
  computed: {}
}
</script>

<style lang="scss" scoped>
</style>
