<template>
  <container class="mt-4">
    Bust currency!
  </container>
</template>

<script>
export default {
  name: 'IndexPage',
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
