<template>
  <container class="Content">
    <h1>404</h1>
    <h2>
      <strong>Oops!</strong>
      We cannot seem to find the page you're looking for.
    </h2>
  </container>
</template>

<script>
export default {
  name: 'NotFoundPage',
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import "../../static/sass/variable.scss";
  .Content {
    margin-top: 4rem;
    h1 {
      color: $orange;
      font-size: 10rem;
      line-height: 8rem;
    }
    h2 {
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
</style>
