<template>
  <p>Play Page</p>
</template>

<script>
export default {
  name: 'PlayInfoPage',
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
