<template>
  <container width="100%" class="Main" :style="wrapperStyle">
    <box class="bg-danger" ref="left" :css-style="leftStyle">
      <box class="bg-info" ref="top" :css-style="topStyle">
        <box class="bg-success" ref="graph" :css-style="graphStyle">
          <chart />
        </box><box ref="form" :css-style="formStyle">
          Form
        </box>
      </box>
      <box ref="bottom" :css-style="bottomStyle">
        Bottom
      </box>
    </box><box class="bg-dark" ref="right" :css-style="rightStyle" v-if="!isCompact">
      Right
    </box>
  </container>
</template>

<script>
import Chart from './Chart.vue'
import Box from './Box.vue'

export default {
  name: 'PlayGamePage',
  components: {
    Chart, Box
  },
  computed: {
    wrapperStyle () {
      return { width: this.remainingHeight }
    },
    leftStyle () {
      const { remainingHeight, sizes: { widthMultiplier }, isCompact } = this
      const style = { width: `${widthMultiplier * 100}%`, height: `${remainingHeight}px` }
      if (isCompact) {
        style.width = '100%'
      }
      return style
    },
    rightStyle () {
      const { remainingHeight, sizes: { widthMultiplier } } = this
      return { width: `${(1 - widthMultiplier) * 100}%`, height: `${remainingHeight}px` }
    },
    topStyle () {
      const { remainingHeight, sizes: { heightMultiplier } } = this
      return { width: '100%', height: `${remainingHeight * heightMultiplier}px` }
    },
    bottomStyle () {
      const { remainingHeight, sizes: { heightMultiplier } } = this
      return { width: '100%', height: `${remainingHeight * (1 - heightMultiplier)}px` }
    },
    graphStyle () {
      const { isCompact } = this
      let style
      if (isCompact) {
        const { sizes: { graphFormMultiplierOnCompact } } = this
        style = { width: '100%', height: `${graphFormMultiplierOnCompact * 100}%` }
      } else {
        const { remainingHeight, sizes: { heightMultiplier, graphFormMultiplier } } = this
        const h = remainingHeight * heightMultiplier
        style = { width: `${graphFormMultiplier * 100}%`, height: `${h}px` }
      }
      return style
    },
    formStyle () {
      const { isCompact } = this
      let style
      if (isCompact) {
        const { sizes: { graphFormMultiplierOnCompact } } = this
        style = { width: '100%', height: `${(1 - graphFormMultiplierOnCompact) * 100}%` }
      } else {
        const { remainingHeight, sizes: { heightMultiplier, graphFormMultiplier } } = this
        const h = remainingHeight * heightMultiplier
        style = { width: `${(1 - graphFormMultiplier) * 100}%`, height: `${h}px` }
      }
      return style
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import "../../static/sass/variable.scss";
  .Main {
    background: green;
    .Bet-List {
      background: red;
    }
  }
</style>
