<template>
  <container width="100%" class="Header">
    <grid wrap="nowrap" horizontal="right" vertical="middle" :rwd="{ small: 'stack' }">
      <grid-item size="1/4" :rwd="{ small: '1/1' }">
        <h1 class="mb-0 Logo">
          <span class="mobile">bb88</span>
          <span class="non-mobile">bustabit88</span>
          <span class="User-Info">
            <a href="">
              <div class="wrapper">
                {{ username }}
              </div>
            </a>
          </span>
        </h1>
      </grid-item>
      <grid-item size="3/4" :rwd="{ small: '1/1' }">
        <grid class="mb-1" :horizontal="rightPanelHorizontalAlignment" vertical="middle" wrap="nowrap" :rwd="{ small: 'reverse' }">
          <grid-item class="with-border Expand">
            <a href="" @click.prevent="doExpand">
              <div class="wrapper">
                <icon name="expand"></icon>
              </div>
            </a>
          </grid-item>
          <grid-item class="with-border Go-Black">
            <a href="" @click.prevent="doBlack">
              <div class="wrapper">
                <span v-if="isBlack">Go Back</span>
                <span v-if="!isBlack">Go Black</span>
              </div>
            </a>
          </grid-item>
          <grid-item class="no-border-color with-border User-Money">
            <div class="wrapper text-truncate" v-b-tooltip.hover :title="balance | amount(currency)">
              {{ balance | amount(currency) }}
            </div>
          </grid-item>
          <grid-item class="no-border-color with-border User-Info User-Info-Main">
            <a href="">
              <div class="wrapper">
                {{ username }}
              </div>
            </a>
          </grid-item>
        </grid>
      </grid-item>
    </grid>
    <grid class="bg-danger site-info">
      <grid-item class="p-1">
        {{ viewPortLabel }} <icon name="circle" :class="{ 'text-default': isOffline, 'text-success': !isOffline }"></icon>
      </grid-item>
    </grid>
  </container>
</template>

<script>
import 'vue-awesome/icons/circle'
import bTooltip from 'bootstrap-vue/es/directives/tooltip/tooltip'
import { SIZES } from '../store/mutation-types'
import { mapState } from 'vuex'

export default {
  directives: {
    'b-tooltip': bTooltip
  },
  name: 'StickyHeader',
  methods: {
    doExpand () {
      this.toggleExpandMode()
      const doc = window.document
      if (this.isFullScreen) {
        const el = doc.documentElement
        if (el.requestFullscreen) {
          el.requestFullscreen()
        } else if (el.mozRequestFullScreen) {
          el.mozRequestFullScreen()
        } else if (el.webkitRequestFullscreen) {
          el.webkitRequestFullscreen()
        } else if (el.msRequestFullscreen) {
          el.msRequestFullscreen()
        }
      } else {
        if (doc.exitFullscreen) {
          doc.exitFullscreen()
        } else if (doc.mozCancelFullScreen) {
          doc.mozCancelFullScreen()
        } else if (doc.webkitExitFullscreen) {
          doc.webkitExitFullscreen()
        }
      }
    },
    doBlack () {
      this.toggleTheme()
      $('body', window.document).toggleClass('black')
    }
  },
  computed: {
    rightPanelHorizontalAlignment () {
      if (this.viewPortLabel === 'small') {
        return 'left'
      }
      return 'right'
    },
    isOffline () {
      return this.$store.state.ac.state !== 'connected'
    },
    ...mapState({
      state: (state) => state.ac.state,
      username: state => state.ac.username,
      balance: state => state.ac.balance,
      currency: state => state.ac.currency
    })
  },
  mounted () {
    this.$_resizeHandlers.push(() => {
      this.$store.commit(SIZES, { header: $(this.$el).outerHeight() })
    })
    this.$store.commit(SIZES, { header: $(this.$el).outerHeight() })
  }
}
</script>

<style lang="scss" scoped>
  @import "../../node_modules/bootstrap/scss/mixins/clearfix";
  @import "../../static/sass/variable.scss";
  .Header {
    padding-top: 0.2rem;
    border-bottom: 1px solid $light-gray;
    .User-Info {
      font-weight: bold;
      .wrapper {
        padding-right: 1rem;
      }
    }
    .User-Money {
      .wrapper {
        cursor: pointer;
      }
    }
    .Go-Black {
      margin-right: 2rem;
      div {
        display: block;
        line-height: normal;
      }
    }
    .Expand {
      margin-right: 1rem;
      .fa-icon {
        height: 1em;
        color: $black;
      }
    }
    .Logo {
      color: $orange;
      font-size: 1.5rem;
      line-height: normal;
      font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
      padding-left: 1rem;
      @include clearfix();
      .mobile {
        display: none;
      }
      span {
        display: inline-block;
        &.User-Info {
          float: right;
          display: none;
        }
      }
    }

    &.mobile {
      .Logo {
        .mobile {
          display: inline-block;
        }
        .non-mobile {
          display: none;
        }
      }
      .Go-Black {
        margin-right: 1rem;
        .wrapper {
          content: ' ';
          background: $black;
          padding: 0.8rem;
        }
        span {
          display: none;
        }
      }
      &.small {
        .Logo {
          .non-mobile {
            display: inline-block;
          }
          .mobile {
            display: none;
          }
        }
        .User-Money {
          div {
            width: inherit;
          }
        }
        .Expand {
          margin-left: 0rem;
        }
        .Go-Black {
          margin-left: 1rem;
          margin-right: 0.5rem;
        }
        .User-Info-Main {
          display: none;
        }
        .Logo {
          .User-Info {
            display: inline-block;
          }
        }
      }
    }
  }

  .site-info {
    position: fixed;
    z-index: 9999;
    opacity: 0.4;
    top: 0;
  }

  .wrapper {
    padding: 0.2rem;
    font-size: 1rem;
  }
  .with-border {
    &.no-border-color {
      border-color: transparent;
    }
    border: 2px solid $gray;
  }
</style>
