<template>
  <p>User Page</p>
</template>

<script>
export default {
  name: 'UserPage',
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
