<template>
  <container id="app" width="100%" :class="mobileClass">
    <alert></alert>
    <sticky-header ref="header" v-if="stickyHeader" />
    <router-view/>
  </container>
</template>

<script>
import { WINDOW_RESIZE, LAST_EVENT, SIZES } from './store/mutation-types'
import StickyHeader from './components/StickyHeader.vue'
import Alert from './components/Alert.vue'
export default {
  name: 'App',
  components: {
    StickyHeader,
    Alert
  },
  mounted () {
    // handle change in viewport
    this.$store.commit(WINDOW_RESIZE)
    this.$_resizeHandlers.push(() => {
      this.$store.commit(SIZES, { page: this.$el.clientHeight })
      this.$store.commit(WINDOW_RESIZE)
    })

    this.$store.subscribe(({ type }, { ac }) => {
      if (type === LAST_EVENT) {
        const { lastEvent, prevEvent } = ac
        if (lastEvent === 'connected') {
          // dispatch init
          console.log(prevEvent)
          this.$store.dispatch('authenticate', this.$route.params)
        }
      }
    })
    this.$store.commit(SIZES, { page: this.$el.clientHeight })
  },
  computed: {
    stickyHeader () {
      if (['NotFoundPage'].indexOf(this.$route.name) >= 0) {
        return false
      }
      return true
    }
  }
}
</script>

<style lang="sass" src="../static/sass/style.scss"></style>
<style>
  #app {
    height: 100%;
    background: yellow;
  }
</style>
